<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/actors" routerLinkActive="active">Link to List ActorList</a>
    </div>
    <div>
        <a routerLink="/filmmakers" routerLinkActive="active">Link to List FilmMakerList</a>
    </div>
    <div>
        <a routerLink="/films" routerLinkActive="active">Link to List FilmList</a>
    </div>
    <div>
        <a routerLink="/organismes" routerLinkActive="active">Link to List OrganismeList</a>
    </div>
 <!-- END LINKS -->
</div>